body{
    /* background-image: url(""); */
    background-color: burlywood;
    background-repeat: no-repeat;
    background-size: cover;
}    

h2{     
    text-align: center;
}
.form{
    align-content: center;
    height: 625px;;
    width: 50%;
    margin-left: 10px;
    /* border-radius: 10px;
    border: 1px solid ; */
}
input,label,select, textarea{
    font-family: monospace;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
}
input{
    opacity: 0.65;
}
.fa-home{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
